body{
  text-align: center;
  background: #ffffff;
  font-family: helvetica;
  font-weight: 100;
  padding: 80px 0 0;
}
body.done {
  background: #67d08c;
}
h1{
  color: #313131;
  font-weight: 100;
  font-size: 60px;
  margin: 40px 0px 20px;
}

#clock{
  font-family: sans-serif;
  color: #313131;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clock > div{
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
}

#clock div > span{
  padding: 35px 70px;
  border-radius: 15px;
  display: inline-block;
  color: #313131;
  font-size: 2.9em;
  border: 3px solid #313131;
}

.clock-label{
  padding-top: 5px;
  font-size: 27px;
}
a {
	color: #313131;
}
a:hover {
	color: #1B1B1B;
}
a.btn {
  display: inline-block;
  padding: 12px 21px;
  background: #313131;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  margin: 0 7px;
}
a.btn:hover {background: #1b1b1b;}